
@{
    ViewBag.Title = "HW1";
}

<TITLE></TITLE>

<p></p>
<p></p>
<br>
<p>姓名: <input type="text" name="name" value="" /></p>
<br>
<p>帳號: <input type="text" name="name" value="" /></p>
<br>
<p>密碼: <input type="text" name="name" value="" /></p>
<br>
<p>
    性別:
    <input type="radio" name="gender" value="A"> 男性
    <input type="radio" name="gender" value="B"> 女性
</p>
<br>
<p>
    興趣:
    <input type="checkbox" name="gender" value="A"> 游泳
    <input type="checkbox" name="gender" value="B"> 閱讀
    <input type="checkbox" name="gender" value="C"> 看電影
</p>

<p>密碼: <textarea></textarea>   </p>
<br>
